# Gradle
.gradle/
build/
.gradle-tasknamecache

# IntelliJ
*.iml
*.ipr
.idea/

# Eclipse
.project
.classpath

# VSCode
.vscode/

# 로그 & 임시
out/
!**/src/main/**/out/
!**/src/test/**/out/
*.log

# application 설정파일
src/main/resources/application.yml
.env

# 기타 IDE
### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle

